.CourseCard {
  max-width: 300px;
  width: 100%;
}

.CourseCard img {
  dipslay: block;
  width: 100%;
  border-radius: 4px;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 0;
}
.tag:not(:last-child):after {
  content: "·";
  margin: 0 2px;
}

.title {
  margin: 0;
  padding: 3px 0;
  font-size: 16px;
  font-weight: 700;
}

.price {
  margin: 0;
  padding: 3px 0;
  font-size: 14px;
}

.type {
  dipslay: inline-block;
  font-size: 12px;
  font-weight: 600;
  background-color: #f7f8fa;
  color: #5a25fa;
  padding: 6px;
  border-radius: 4px;
  margin-right: 4px;
}
.type:last-child {
  margin-right: 0;
}

ul,
li {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
