* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

.Sidebar {
  background-color: #b9eeff;
  width: 200px;
}

.MemoContainer {
  background-color: #e0ffff;
  flex: 1;
}
.MemoContainer__title {
  width: 100%;
  font-size: 2rem;
}
.MemoContainer__content {
  width: 100%;
  min-height: 600px;
  font-size: 1.1rem;
}
