* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

.Sidebar {
  background-color: #b9eeff;
  width: 200px;
}

.SidebarFooter {
  padding: 10px 0;
}
.SidebarFooter__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: 2px solid #555;
  border-radius: 50%;
  font-size: 1.3rem;
  margin: 0 auto;
  opacity: 0.7;
  cursor: pointer;
}

.MemoContainer {
  background-color: #e0ffff;
  flex: 1;
}
.MemoContainer__title {
  width: 100%;
  font-size: 2rem;
}
.MemoContainer__content {
  width: 100%;
  min-height: 600px;
  font-size: 1.1rem;
}

.MemoItem {
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.MemoItem.selected {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.MemoItem__delete-button {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.MemoItem:hover .MemoItem__delete-button {
  display: flex;
  font-weight: 700;
}
